<form>
  <input type='text' id='st-search-input' class='st-search-input'/>
</form>

<script>
    $(function() {
  $('#st-search-input').swiftype({
    engineKey: 'zPa_Vda99xFc8rsXF3tJ'
  });
});
</script>