

<form class="hero-search">
  <input type='text' id='st-search-input' class='st-search-input'/>
</form>



<script>
  $(function() {
    $('#st-search-input').swiftype({
      engineKey: 'zPa_Vda99xFc8rsXF3tJ'
    });
    
    
    var customRenderFunction = function(document_type, item) {
    return '<p class="machine">' + item['title'] + '</p>';
};


});
</script>