
<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form class="hero-search">
          <input type='text' id='st-search-input' class='st-search-input'/>
        </form>
      </div>
    </div>
  </div>
</div>





<script>
    $(function() {
  $('#st-search-input').swiftype({
    engineKey: 'zPa_Vda99xFc8rsXF3tJ'
  });
});
</script>