<p id="notice"><%= notice %></p>

<p>
  <strong>Model name:</strong>
  <%= @model_name.model_name %>
</p>

<%= link_to 'Edit', edit_model_name_path(@model_name) %> |
<%= link_to 'Back', model_names_path %>
